include *.rst
include *.txt
include tox.ini
include .coveragerc

recursive-include src *

include bootstrap.py
exclude bootstrap.py

include buildout.cfg
exclude buildout.cfg

exclude MANIFEST.in

global-exclude *.pyc
global-exclude *.pyo
